<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499480866806-jj3r9lv1ggjr605jgunu80e9qgfaa3rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499480866806-jj3r9lv1ggjr605jgunu80e9qgfaa3rr</string>
	<key>API_KEY</key>
	<string>AIzaSyBcm6klh5Ei5eMLFI04cJbWAqBR-DCvmvY</string>
	<key>GCM_SENDER_ID</key>
	<string>499480866806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileAuth</string>
	<key>PROJECT_ID</key>
	<string>otpgenerator-da18f</string>
	<key>STORAGE_BUCKET</key>
	<string>otpgenerator-da18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499480866806:ios:d363d8b1ab1eb2b394e1d7</string>
</dict>
</plist>